<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <div class="character-card">
            <div class="background">
                <div class="logo">
                    <img src="../../../../assets/images/animation/toy-story-logo.png" alt="">
                </div> 
            </div>
            <div class="character-container">
                <div class="box-image">
                    <img class="image" src="../../../../assets/images/character/woody.png" alt="">
                </div>
                <div class="box-description">
                    <h1 class="title">Woody</h1>
                    <p class="description">O Cowboy mais famoso do cinema agora na sua coleção.</p>
                    <h3 class="price">R$ 1500,00</h3>
                    <button class="button-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                        <span>Adicionar ao Carrinho</span>
                    </button>
                </div>
                <div class="box-show-transaction">
                    <span>MOSTRAR TRANSAÇÕES</span>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>
        </div>
    </mat-expansion-panel-header>
    <div class="card-character-transaction">
        <table class="history-transactions">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Comprador
                    </th>
                    <th>
                        Preço
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        30/01/2023
                    </td>
                    <td>
                        BigHouts
                    </td>
                    <td>
                        R$ 1300,00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-expansion-panel>

