<div class="card-background">
    <div class="card-logo">
        <img src="../../../../assets/images/animation/toy-story-logo.png" alt="">
    </div>
    <div class="card-image">
        <img src="../../../../assets/images/character/woody.png" alt="">
    </div>
    <div class="card-description">
        <h1 class="title">Woody</h1>
        <h4 class="subtitle">Extra Rara</h4>

        <p class="description">O Cowboy mais famoso do cinema agora na sua coleção.</p>

        
        <h3 class="price">R$ 1500,00</h3>
        <button class="buyer">
            <mat-icon>add_shopping_cart</mat-icon>
            <span>Comprar</span>
        </button>
    </div>
</div>